.ling-gloss-number { font-weight: bold; }
.ling-gloss-elements, .ling-gloss-postamble { padding-left: 1.5em; }
.ling-gloss-level-b { font-family: Unifont; font-size: 80%; }
.ling-style-kardon { font-family: AH Kardon Standard; }