@font-face {
  font-family: "Truth and Ideals";
  src: local("Truth and Ideals"), url("https://hoard.astaryuu.cc/astaryuu/fonts/Truth And Ideals-Normal.ttf") format(truetype);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Truth and Ideals";
  src: local("Truth and Ideals"), url("https://hoard.astaryuu.cc/astaryuu/fonts/Truth And Ideals-Bold.ttf") format(truetype);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Truth and Ideals";
  src: local("Truth and Ideals"), url("https://hoard.astaryuu.cc/astaryuu/fonts/Truth And Ideals-Italic.ttf") format(truetype);
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "Truth and Ideals";
  src: local("Truth and Ideals"), url("https://hoard.astaryuu.cc/astaryuu/fonts/Truth And Ideals-Bold-Italic.ttf") format(truetype);
  font-weight: bold;
  font-style: italic;
}


@font-face {
  font-family: "Unifont";
  src: local("Unifont"), url("https://hoard.astaryuu.cc/astaryuu/fonts/unifont-15.1.05.otf") format(opentype);
}

@font-face {
  font-family: "Unifont JP";
  src: local("Unifont JP"), url("https://hoard.astaryuu.cc/astaryuu/fonts/unifont_jp-15.1.05.otf") format(opentype);
}

@font-face {
  font-family: "Unifont Upper";
  src: local("Unifont Upper"), url("https://hoard.astaryuu.cc/astaryuu/fonts/unifont_upper-15.1.05.otf") format(opentype);
}

body {
	--font-interface-theme: "Truth and Ideals", "Unifont", "Unifont JP", "Unifont Upper";
	--font-text-theme: "Truth and Ideals", "Unifont", "Unifont JP", "Unifont Upper";
	--font-monospace-theme: "Unifont", "Unifont JP", "Unifont Upper";
	--tag-font-family: "Unifont", "Unifont JP", "Unifont Upper";
	--line-height-normal: 1.2;
	--line-height-tight: 1;
	--font-ui-smallest: 14px;
	--font-ui-small: 16px;
	--font-ui-medium: 19px;
	--font-ui-large: 22px;
}