

body {
	--font-interface-theme: "Truth and Ideals", "Unifont", "Unifont JP", "Unifont Upper";
	--font-text-theme: "Truth and Ideals", "Unifont", "Unifont JP", "Unifont Upper";
	--font-monospace-theme: "Unifont", "Unifont JP", "Unifont Upper";
	--tag-font-family: "Unifont", "Unifont JP", "Unifont Upper";
	--line-height-normal: 1.2;
	--line-height-tight: 1;
	--font-ui-smallest: 14px;
	--font-ui-small: 16px;
	--font-ui-medium: 19px;
	--font-ui-large: 22px;
}