.ling-gloss-number { font-weight: bold; }
.ling-gloss-elements, .ling-gloss-postamble { padding-left: 1em; }
.ling-gloss-level-b { font-family: Unifont; font-size: 75%; }
.ling-style-kardon { font-family: AH Kardon Standard; }
.ling-style-rokashika { font-family: AH Rokajang Shika; }